@import "assets/scss/_variables.scss";
@import "assets/_mixins.scss";

.App {
  font-family: "Roboto", sans-serif;
  background-color: $Properly_Red;
  @include query($medium) {
    background-color: pink;
  }

  @include query($large) {
    background-color: tomato;
  }
}

.App-header {
}
